{% extends 'base.html' %}

{% block title %} about {% endblock title %}
{% block Hero %}
  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <h3><strong>about</strong></h3>
    </div>
  </section>
  <!-- End Hero -->
  
{% endblock Hero %}
{% block content %}
<style>

  h1 {
      text-align: center;
      margin-bottom: 30px;
  }
  p {
      margin-bottom: 20px;
  }
</style>

<div class="container">
  <br>
  <br>
  
  <p>Welcome to our website! We are dedicated to...</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consectetur placerat libero, at tempor mauris efficitur vel. Sed id dui velit. Nunc ultricies massa ut risus tempor, sed consequat libero consectetur. Curabitur lacinia enim non sapien sodales, et posuere justo facilisis. Mauris in justo vel dui condimentum scelerisque. Suspendisse vitae viverra est. Nulla facilisi.</p>

  <p>Our mission is to...</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consectetur placerat libero, at tempor mauris efficitur vel. Sed id dui velit. Nunc ultricies massa ut risus tempor, sed consequat libero consectetur. Curabitur lacinia enim non sapien sodales, et posuere justo facilisis. Mauris in justo vel dui condimentum scelerisque. Suspendisse vitae viverra est. Nulla facilisi.</p>

  <p>Contact us at <a href="mailto:info@example.com">info@example.com</a></p>
</div>



{% endblock content %}